.namepage{
    text-align: center;
    top: auto;
    color: rgb(229, 114, 20);
    size: 10px;
    padding-top: 0px;
    margin-top: 0px;
    font-family:  'Gill Sans';
    font-size: x-large;
    font-style:italic;
    

}
/* .navIcons{
    fo
} */